!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Placeholder</title>
</head>

<body>
    <style>
        body{
            background-image: url(https://wallpaperaccess.com/full/2825731.gif);
            background-repeat: no-repeat;
            background-position: auto;
        }
        form{
            color: white;
        }
        h1{
            color:white;
        }
    </style>

    <div class="container">
        <h1>CREATE A NEW ITINERARY</h1>
            <form action="/budgets/" method="POST"> 

            <!-- Information Split/Input for Form -->
            Name: <input type="text" name="date" /></br>
            Date: <input type="text" name="date" /></br>
            Amount: <input type="text" name="date" /></br>
            From: <input type="text" name="date" /></br>
            Tag: <input type="text" name="date" /></br>
               
            <!-- Button for Form -->
            <input type="submit" name="Create a New Item" /> </br>
            </form>
    </div>
</body>
</html>